/* app css stylesheet */
html{
  margin-top: 70px;
}

.templates{
  text-align: center;
}
.templates img{
  width: 70%;
}
.img-full{
	width: 100%;
}
.templates a{
  width: 50%;
  margin: auto;
  text-align: center;
}
footer{
	margin-top: 50px;
}