<div class="row text-center">
	Search Template: <input type="text" ng-model="searchTemplate">
	<hr>
</div>
<div class="row templates">
	<div ng-repeat="template in templates | limitTo:8 | filter:searchTemplate">
		<div class="col-md-3">
			<h3>{{template.name}}</h3>
			<a href="#templates/{{template.id}}"><img src="img/{{template.images[template.id-1].name}}"></a>
			<h4>{{template.price | currency}}</h4>
			<a class="btn btn-primary btn-block" href="#templates/{{template.id}}">Details</a>
		</div>
	</div>
</div>